.content {
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                 2px 2px 5px rgba(94,104,121,0.288);
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .label {
    flex: 1;
    white-space: pre-wrap; /* Ajoutez cette ligne */
  }
  
  .content .text {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
  }
  
  .field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .field:nth-child(2) {
    margin-top: 20px;
  }
  
  .field .input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
  }
  
  .field .input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
  }
  
  .field .span {
    color: #595959;
    width: 50px;
    line-height: 55px;
  }
  
  .field .label {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666666;
    margin-left: 5%; /* Ajoutez cette ligne */
    margin-right: 5%; /* Ajoutez cette ligne */
  }
  
  .field .input:valid ~ label {
    opacity: 0;
  }
  
  